<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:context="http://www.springframework.org/schema/context"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                                 http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
                                 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--permission core-->
    <beans:bean name="listCredentialCore" class="java.util.HashSet">
        <beans:constructor-arg>
            <beans:list>
                <beans:value>ROLE_AUTH_DATA</beans:value>
                <beans:value>ROLE_ADMIN_SETTINGS</beans:value>
            </beans:list>
        </beans:constructor-arg>
    </beans:bean>

    <!--Sring security бин, включающий в себя списки с допусками для всех модулей -->
    <beans:bean id="listCredential" class="by.imix.cms.web.security.CredentialBox">
        <beans:constructor-arg>
            <beans:list>
                <!--добавляем безопасность ядра (список допусков для доступа к ядру)-->
                <beans:ref bean="listCredentialCore"/>
            </beans:list>
        </beans:constructor-arg>
    </beans:bean>


    <context:component-scan base-package="by.imix.cms.web.security"/>

</beans:beans>